
<footer>
  <div class="footer-text mx-2">
    Icon made by 
    <a href="https://www.flaticon.com/authors/freepik" style="color: white;" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" style="color: white" target="_blank">www.flaticon.com</a>
  </div>
  <div class="footer-text mx-2 mb-1">API made by <a href="https://www.thecocktaildb.com/api.php" style="color:white;" target="_blank">ThecocktailDB</a> </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>